html {
    height : 100%;
    min-height : 100%;
}

body{
    margin-top : 40px;
    height : 100%;
    min-height : 100%;
}

h1, h2{   
    font-family: 'Handlee', cursive;
}

.lili-bg{
    background-image : url('../images/lili-violet.jpg');
}

.alex-bg{
    background-image : url('../images/alex-red.jpg');
}




.split-home{
    height : 100%;
    min-height : 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-element{
    margin : 100;
    background-color : gray;
    min-height : 100%;
}

.home{
    height : 100%;
    min-height : 100%;
}