/*Couleurs taupe*/
/*
$primary-color: #705c5c;
$primary-color-transparent: rgba(112,
92,
92,
0.5);
$secondary-color:#968787;

*/
/*Couleurs bleutés*/

$primary-color: #2a4f6b;
$primary-color-transparent: rgba(42,
79,
107,
0.5);
$secondary-color:#4f99d2;
$tertiary-color:#fff;