/*Couleurs taupe*/
/*
$primary-color: #705c5c;
$primary-color-transparent: rgba(112,
92,
92,
0.5);
$secondary-color:#968787;
*/
/*Couleurs bleutés*/

$primary-color: rgb(121,
150,
166);
$primary-color-transparent: rgba(121,
150,
166,
0.5);
$secondary-color:rgb(121,
150,
166);
$tertiary-color:#fff;