@import 'general-imports';
html {
    height: 100%;
    min-height: 100%;
}

body {
    margin-top: 0px;
    height: 100%;
    min-height: 100%;
}

h1,
h2 {
    font-family: 'Handlee', cursive;
    color: $primary-color;
}

.lili-bg {
    background-image: url('../images/lili-cv_resized.jpg');
}

.alex-bg {
    background-image: url('../images/alex-red.jpg');
}

.split-home {
    max-height: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.sub-element {
    /*top right bottom left*/
    
    background-color: rgba(54, 25, 25, .5);
    border-radius: 20px;
    height: 100%;
    text-align: center;
    padding: 50px;
    padding-top: 100%;
}

.home {
    height: 100%;
    min-height: 100%;
}

.thumbnail {
    background-color: white;
    border-color: $primary-color;
    border-width: 3px;
}

.jumbotron {
    background-image: linear-gradient($primary-color, $secondary-color);
    overflow: auto;
}

.thumbnail {
    padding-top: 15px;
}

.resume-lili .jumbotron h1,
.resume-lili .jumbotron p {
    color: white;
}

.resume-lili {
    padding-top: 45px;
    .photo {
        img {
            width: 100%;
        }
    }
}

.btn-primary {
    color: $tertiary-color;
    background-color: $primary-color;
    border-color: $secondary-color;
}

a {
    color: $primary-color;
}

hr {
    height: 4px;
    border-top: 4px solid #ecf0f1;
    margin: 1em auto;
    padding: 0 0 15px;
}

div.navigation-mode {
    position: fixed!important;
    z-index: 1000;
    background: $primary-color;
    text-align: center;
    width: 100%;
    top: 0px;
    .navbar {
        border: none;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: $primary-color;
    background-color: $tertiary-color;
    border-radius: 5px;
}

.navbar-default {
    .navbar-nav>li>a {
        color: $tertiary-color;
    }
    .navbar-nav>li>a:hover {
        color: $secondary-color;
    }
    .navbar-brand {
        color: $tertiary-color;
        font-weight: 800;
    }
}

section {
    margin-top: -45px;
    padding-top: 45px;
}
/* Vertical timeline */

.vertical-timeline {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

ul.events li {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background: #eee;
    border: 1px solid #ddd;
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 3px 0;
    position: relative;
    text-align: center;
}

ul.events li em {
    color: #aaa;
    font-weight: normal;
    font-size: 0.9em;
}

ul.intervals {
    list-style-type: none;
    padding: 0;
    display: block;
}
/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */

ul.intervals li {
    background: #fff url(/images/1x1_eee.gif) repeat-x left 10%;
    border-right: 1px solid #ccc;
    color: #999;
    float: left;
    font-size: 1.2em;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 12.40%;
}

ul.intervals li.first {
    border-left: 1px solid #ccc;
}

.projects-list {
    img {
        width: 100%;
    }
    div.project {
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: $primary-color;
        color: $tertiary-color;
        h2 {
            color: $tertiary-color;
        }
        div.project.right {
            float: right;
        }
    }
}
/******* Cubes ********/

.cubes {
    h1 {
        color: $tertiary-color;
        font-size: 140%;
    }
    .project {
        height: 250px;
        background-image: linear-gradient($primary-color, $secondary-color);
        text-align: center;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
        display: table;
        width: 100%;
        padding: 10px;
        .content, .content:hover {
            position: relative;
            height: 100%;
            vertical-align: middle;
            display: table-cell;
            color: $tertiary-color;
            text-decoration: none;
        }
    }
    .project:focus,
    .project:hover {
        transform: scale(1.1);
        box-shadow: 0 0 65px $secondary-color inset, 0 0 20px $secondary-color inset, 0 0 15px $primary-color;
    }
}
/**** Tags *****/

.tags {
    .tag {
        display: inline;
        padding-right: 5px;
    }
    .tag.weight-5 {
        font-size: 32px;
    }
    .tag.weight-4 {
        font-size: 28px;
    }
    .tag.weight-3 {
        font-size: 24px;
    }
    .tag.weight-2 {
        font-size: 20px;
    }
    .tag.weight-1 {
        font-size: 16px;
    }
}

.search-bar{
    margin-bottom : 30px;
}