<nav class="navbar navbar-default ">
    <div class="container-fluid navigation-mode">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/projects"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" id="presentation-menu">
                        <a ng-click="scrollTo('presentation')" href="">Présentation</a>
                    </li>
                    <li id="career-menu">
                        <a ng-click="scrollTo('career')" href="">Expérience</a>
                    </li>
                    <li id="projects-menu">
                        <a ng-click="scrollTo('projects')" href="">Projets</a>
                    </li>
                    <li id="skills-menu">
                        <a ng-click="scrollTo('skills')" href="">Compétences - Formation</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>