<div ng-include="'public/partials/menu.html'"></div>

<div class="container projects-list">
    <div class="col-sm-12">
        <a class="btn btn-primary" href="/#/projects?scrollTo=projects">Retour</a>
    </div>

    <div class="col-sm-12">
        <h1>{{currentProject.title}}</h1>
    </div>

    <div class="col-sm-8">
        <h2>Rôle</h2>
        <p>{{currentProject.role}}</p>

        <h2>Objectif du projet</h2>
        <p> {{currentProject.goal}}</p>

        <h2>Description</h2>
        <div ng-bind-html="currentProject.description"></div>

        <div ng-if="currentProject.urls.length>1">
            <h2>Sites</h2>
            <ul>
                <li ng-repeat="url in currentProject.urls"><a ng-href="{{url}}">{{url}}</a>
                </li>
            </ul>
        </div>
        <div ng-if="currentProject.urls.length==1">
            <h2>Site</h2>
            <p><a ng-href="{{currentProject.urls[0]}}">{{currentProject.urls[0]}}</a>
            </p>
        </div>
        <h2>Durée</h2>
        <p>{{currentProject.duration}}</p>

        <h2>Technologies utilisées</h2>
        <ul class="tags">
            <li ng-repeat="tag in currentProject.tags" class="tag weight-{{tag.weight}}">{{tag.label}}</li>
        </ul>



    </div>
    <div class="col-sm-4">
        <img src="{{currentProject.images[0]}}">
    </div>
    <div class="col-sm-12">
        <a class="btn btn-primary" href="/#/projects?scrollTo=projects">Retour</a>
    </div>

</div>


<div ng-include="'public/partials/footer.html'"></div>