<div class="menu" ng-include="'partials/menu.html'"></div>



<div class="container resume-lili">
    <div class="jumbotron">
        <div class="jumbo-content">
            <div class="col-sm-9">
                <h1>Elise Challan-Belval</h1>
                <p>Développeuse d'application front-end et backend</p>
                <p>Crédit Mutuel Arkéa</p>
                <p>Contact : elise.challanbelval@gmail.com</p>
            </div>
            <div class="col-sm-3 photo">
                <!--<img src="images/montreal-mile-end.jpg">-->
            </div>

        </div>


    </div>
    <section id="presentation">


        <div class="col-sm-8">
            <h1>Présentation</h1>
            <p>Diplômée d’un master 2 en intelligence artificielle et aide à la décision, cela fait maintenant bientôt 6 ans que je travaille dans le développement informatique. J'ai forgé une grande partie de mon expérience en Java sur des applications web.</p>

            <p>J’apprécie particulièrement le rôle de Scrum Master, qui permet de rester au plus près du développement tout en étant très proche aussi du Product Owner.</p>

            <p>Concernant les technologies, j’apprécie beaucoup le développement de front-end car c’est un milieu où les technologies évoluent extrêmement vite et où la communauté est très active.</p>

            <p>L'intelligence artificielle est elle aussi un domaine de l'informatique qui me tient à coeur, même si mes expériences professionnelles ne m'ont pas toujours permis d'en exploiter la richesse. Je souhaite pouvoir utiliser davantage mes connaissances dans ce domaine dans mes prochaines missions.</p>

            <p>Je n’ai pas peur d’appréhender de nouvelles technologies, de nouvelles méthodes. L’informatique est un monde qui évolue en permanence et il est important de réussir à en suivre les avancées. Je suis une personne très consciencieuse, j’aime m’investir dans mon travail, je suis soucieuse de toujours m’améliorer. J’aime le travail en collaboration, et entretiens toujours de très bonnes relations avec mes collègues.</p>

            <p>Je suis aussi habituée à travailler sous pression ayant développé sur des applications critiques du domaine bancaire.</p>

            <p>Je suis désormais à la recherche d’opportunité pour travailler au Canada, n’hésitez pas à me contacter si mon profil vous intéresse.</p>

            <p>Je vous souhaite une très bonne navigation !</p>

        </div>
        <div class="col-sm-4">
            <img src="../images/time-alone.jpg">
            <img src="../images/workpace.jpg">
        </div>

        <div class="col-sm-12">
            <hr>
        </div>

    </section>
</div>










<div class="container resume-lili">
    <section id="career">
        <div class="col-sm-12">
            <h1>Expérience professionnelle</h1>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge info">01/2014
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img src="images/Credit_mutuel_Arkea.png" alt="Crédit Mutuel Arkéa"> Crédit Mutuel Arkéa
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Durée : 1 an et 4 mois</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Réalisation de projets pour Fortuneo, une banque de détail du groupe Crédit Mutuel Arkéa, le plus souvent dans un rôle de Scrum Master</p>

                            <ul>
                                <li>Etudes techniques</li>

                                <li>Réalisation de développement</li>

                                <li>Revue de code</li>

                                <li>Tests (unitaires, d’intégration, d’interface)</li>

                                <li>Suivi de projet</li>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info">
                        03/2012
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img src="images/logo-asi.jpg" alt="ASI Informatique"> ASI Informatique
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Durée : 1an et 11 mois</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Mission au Crédit Mutuel Arkéa :
                                <ul>
                                    <li>Réalisation de correctifs et évolutifs sur la partie virement du site web des fédérations</li>
                                    <li>Scrum Master sur tous les sites JCMS du Crédit Mutuel Arkéa</li>
                                </ul>
                            </p>
                            <p>TMA GREF</p>
                            <ul>
                                <li>Tests de performance</li>
                                <li>Optimisation des temps de réponse de l'application</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info">
                        03/2010
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img src="images/logo-abak.png"> ABAK Systèmes
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Durée : 2ans et 1mois</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Refonte d’un logiciel de simulation 3D de scènes militaires aériennes </p>
                            <p>Automatisation des tests pour un logiciel de chiffrement</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info">
                        04/2009
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img src="images/logo-asanangel.jpg"> As An Angel
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Durée : 6 mois</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Amélioration d'un gestionnaire de dialogues</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge info">
                        07/2008
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img src="images/logo-lip6.png"> Laboratoire d'informatique de Paris 6
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Durée : 2 mois</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>Implémentation d'un algorithme de recherche de communauté</p>


                        </div>
                    </div>
                </li>


                </ul>
        </div>
    </section>
    <hr>
</div>









<section id="projects">
    <div class="container">
        <div class="col-sm-12">
            <h1>Projets</h1>
        </div>
    </div>

    <div class="container cubes">


        <div class="col-sm-12 cube-tags">

            <br>
            <!--<span>Langages :</span>-->

            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'java'">Java</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'javascript'">Javascript</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'nodejs'">NodeJS</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'html'">HTML</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'css'">CSS</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'cpp'">C++</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'python'">Python</button>

            <br>
            <!--<span>Applications natives :</span>-->
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'android'">Android</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'ios'">iOS</button>

            <br>
            <!--<span>Framework :</span>-->

            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'jcms'"> JCMS</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'struts'"> Struts</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'spring'"> Spring</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'thrift'"> Thrift</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'eactivity'"> Eactivity</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'hibernate'"> Hibernate</button>

            <br>
            <!--<span>Base de données :</span>-->

            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'sql'"> Oracle</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'mysql'"> MySQL</button>
            <button type="button" class="btn btn-default" ng-model="currentTag" uncheckable btn-radio="'mongo'"> Mongo</button>

            <br>

        </div>

        <div ng-repeat="project in projects | filter:tagFilter" class="col-lg-3 col-md-4 col-sm-6">
            <div class="project" style="background-image:url('{{project.images[0]}}');background-size:cover">
                <div class="content-container">
                    <a class="content" href="projects-cubes-lili.html#/projects/{{project.id}}">
                        <h1>{{project.title}}</h1>
                        <br>
                        <span ng-repeat="tag in project.tags">{{tag.label}} </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</section>







<div class="container">
    <section id="skills">
        <h1>Compétences</h1>

        <h2>Compétences informatiques</h2>
        <h3>Langages</h3>
        <p>
            Java, Javascript,SQL, C++, HTML,CSS, Python, Flex, Actionscript, Php, Octave, XML,VRML
        </p>
        <h3>Frameworks</h3>
        <p>
            Jalios CMS, J2EE, Struts, Spring, Thrift, GWT, Eactivity Hibernate
        </p>
        <h3>IDE</h3>
        <p>
            IntelliJ, Eclipse, Visual Studio
        </p>
        <h3>Bases de données</h3>
        <p>Oracle, MySQL, MongoDB</p>
        <h3>Outils</h3>
        <p>Git, SVN, Jenkins, ANT, JIRA, Teamtrack, Jmeter, TestComplete, Salome TMF, Mantis, Blender3D, ArgoUML</p>

        <hr>

        <h2>Formation</h2>
        <h3>2009</h3>
        <p>Master 2 (équivalent Maitrise) d’Informatique, spécialité Intelligence Artificielle et aide à la décision, parcours Interface et Communication Homme-Machine Paris 6, Pierre et Marie Curie (75)
        </p>
        <h3>2004</h3> Baccalauréat (équivalent Diplome d'études collégiales) scientifique spécialité Mathématiques, Lycée Anna Judic de Semur-en-Auxois (21)

        <hr>

        <h2>Langues</h2>
        <p>Français : Niveau avancé (langue maternelle)</p>
        <p>Anglais : Niveau avancé </p>
        <p>Allemand : Niveau scolaire</p>

        <hr>

        <h2>Intérêts</h2>
        <p>Jeux vidéos (MMORPG, Hack n Slash, STR)</p>
        <p>Voyages (Canada,Thaïlande,Japon, Etats-Unis, Iles Canaries, Espagne, Belgique, Pays Bas, Allemagne, Italie)</p <p>Tennis</p>
        <p>Lecture de romans de science fiction et heroic fantasy</p>
        <p>Découvertes culinaires</p>

    </section>










</div>


<div ng-include="'partials/footer.html'"></div>